MATOMO_PUBLIC_URL=https://matomo.dwdcc.kr/
MATOMO_HTTP_PORT=18084
MATOMO_IMAGE=matomo:5-apache
MATOMO_DB_IMAGE=mariadb:11
MATOMO_DATABASE_DBNAME=matomo
MATOMO_DATABASE_USERNAME=matomo
MATOMO_DATABASE_PASSWORD=change-me
MATOMO_DATABASE_ROOT_PASSWORD=change-me
MATOMO_PHP_MEMORY_LIMIT=512M
MATOMO_ARCHIVE_INTERVAL_SECONDS=300
